
@{
    ViewData["Title"] = "About Us";
}

<h1>About Us</h1>
<hr />
<h4>MvcPlates</h4>
<p>PLATE COMPANY is guided and allowed by a high-level consortium of financial institutions with over 30 bank subcategories, providing financial backing for PLATE COMPANY to finance the most complex and challenging transactions.</p>
<p>We raise finance for our clients from our own extensive global network of internationally accredited finance sources including hedge funds, institutional investors.</p>
<p>Senior Vice President Dr. Farzad Kaj, joined the Society of Petroleum Engineers (www.spe.org), located in Texas, USA in 2018</p>
<p>We are managing our company with bulk amount of staff at about 500-1500.</p>
<h5>Head Quaters</h5>
<span>Street no: 3 </span>
<br />
<span>Blueberry, Texas</span>
<br />
<span>U.S.A</span>